Services
{
  SoftwareTag
  {
    HandlerPath = GlastDIRAC/SoftwareTagSystem/Service/SoftwareTagHandler.py
    Port = 9147
    Authorization
    {
      #Change that to something like authenticated
      Default = all
      getSitesForTag = authenticated
      getSites = authenticated
      # SAM should refer to the property of the software manager and/or VO manager
      addTagAtSite = authenticated, SAM
      removeTagAtSite = authenticated, SAM
      updateStatus = authenticated, SAM      
    }
  }
}